@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Righteous', cursive;
     text-decoration: none;
}
#image_bg{
    background-repeat: no-repeat;
    /* background-size:300px 100px; */
    height: 750px;
    width: 100%;
    position: absolute;
}
.row{
    position: relative;
    text-align: center;
}
.logo {
    position: absolute;
    top: 8px;
    left: 16px;
}
#my_logo{
    color: aliceblue;
    font-size: 20px;
    text-shadow: 1px 2px 3px gray;
}
#logo_icon{
    font-size: 43px;
    text-shadow: 1px 2px 3px gray;
}
